<div class="container mt-4">

  <h2 class="mb-3"><%= @category.name %></h2>

  <div class="row">
    <%= render partial: "products/product_card", collection: @products, as: :product %>
  </div>

</div>