<div class="product-card">

  <% if product.image.attached? %>
  <%= image_tag url_for(product.image), width: 150 %>
<% else %>
  <p>No Image</p>
<% end %>

  <% if product.on_sale %>
    <span class="badge sale">SALE</span>
  <% end %>

  <% if product.created_at >= 3.days.ago %>
    <span class="badge new">NEW</span>
  <% end %>

  <% if product.updated_at >= 3.days.ago && product.created_at < 3.days.ago %>
    <span class="badge updated">UPDATED</span>
  <% end %>

  <h3><%= link_to product.name, product_path(product) %></h3>

  <p><%= product.description %></p>

  <p>$<%= product.price %></p>

</div>